//banner
.main_banner {
    padding-top: 162px;
    position: relative;
    .iframe_wrap {
        width: 100%;
    }
    .carousel {
        display: flex;
        justify-content: center;
        position: relative;
        .carousel-inner {
            &:before {
                content: "";
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, rgba(0, 7, 9, 0.55) 0%, rgba(37, 33, 25, 0.15) 100%);
                z-index: 1;
            }
        }
    }
    .carousel-item {
        >img {
            width: 100%;
            max-height: calc(100vh - 170px);
            height: 552px;
            object-fit: cover;
        }
    }
    iframe,
    video,
    .wp-video {
        width: 100% !important;
        max-height: calc(100vh - 150px);
        min-height: 500px;
        -o-object-fit: cover;
        object-fit: cover;
        position: relative;
        z-index: 9;
    }
    .caption_wrap {
        display: flex;
        justify-content: center;
    }
    .carousel-caption {
        position: absolute;
        width: 1200px;
        top: 10%;
        z-index: 9;
        // margin: 0 auto;
        display: table;
        left: 0;
        right: 0;
        text-align: left;
        h2 {
            color: #fff;
            text-shadow: none;
            margin-bottom: 15px;
            font-size: 46px;
            font-weight: 400;
            margin-bottom: 8px;
            line-height: normal;
             max-width: 900px;
            span {
                font-size: 31px;
                font-weight: normal;
                display: block;
                font-size: $secondary-font;
            }
        }
        p {
            font-size: 24px;
            color: $white;
            max-width: 900px;
            font-weight: 500;
            margin-bottom: 24px;
            line-height: normal;
        }
        
        @include md {
            text-align: left;
            h1 {
                font-size: 36px;
            }
        }
        @media (min-width: 768px) {
            bottom: 40px;
            top: auto;
            left: 48px;
        }
    }
    .carousel-control-next,
    .carousel-control-prev {
        position: relative;
        width: 42px;
        height: 40px;
        border-radius: 0px;
        top: 50%;
        opacity: 1;
        transform: translateY(-50%);
        z-index: 10;
        &:hover {
            background: $orange;
        }
    }
    .carousel-control-next {
        right: 00px;
        img {
            @include rotate;
        }
    }
    .carousel-control-prev {
        left: 0px;
    }
    .carousel-controls_wraper{
        position: absolute;
        bottom: 24px;
        right: 0px;
        width: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 66px;
        row-gap: 8px;
        .carousel-controls{
            display: flex;
            justify-content: center;
            column-gap: 8px;
            img{
                
            }
        }
    }
    .carousel-indicators li {
        width: 13px;
        height: 13px;
        border: 0;
        border-radius: 100px;
        background: #fff;
        border: 1px solid #fff;
        opacity: 1;
        display: flex;
        &.active {
            background: rgba(255, 255, 255, 0.30);
        }
    }
    .carousel-indicators{
        position: relative;
        margin-bottom: 0px;
    }
}

.banner-caption {
    max-width: 650px;
    margin-bottom: 30px;
    h1 {
        color: #fff;
        text-transform: uppercase;
        font-variant: all-small-caps;
    }
    p {
        font-size: 21px;
        color: #fff;
    }
}

.btn_outline {
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    border-radius: 100px;
    border: 1px solid $white;
    padding: 12px 24px;
    text-decoration: none;
    font-family: $secondary-font;
    display: inline-flex;
    column-gap: 8px;
    align-items: center;
    justify-content: center;

    &:hover {
        background: $white;
        color: #000;
        border-color: $white;
        text-decoration: none;
        img {
            @include img-black;
        }
    }
}

.banner-buttons {
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    .btn_card {
        padding: 32px 24px;
        .btn_icon {
            width: 60px;
            height: 60px;
            min-width: 60px;
            min-height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
            background: $white;
            margin-bottom: 16px;
            margin-right: 16px;
            @include md {
                width: 30px;
                height: 30px;
                min-width: 30px;
                min-height: 30px;
            }
        }
        .btn_header {
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: 700;
            color: $white;
            font-family: $primary-font;
        }
        p {
            color: $white;
        }
        &.red {
            background: #ab1c21;
            &:hover {
                background: #9B1A1F;
            }
        }
        &.green {
            background: $green;
            &:hover {
                background: #496412;
            }
        }
        &.purple {
            background: $purple;
            &:hover {
                background: #603372;
            }
        }
        &.blue {
            background: #005598;
            &:hover {
                background: #014275
            }
        }
    }
    @include md {
        .btn_card {
            padding-left: 16px;
            padding-right: 16px;
            .btn_header {
                flex-direction: column;
                align-items: start;
                .btn_icon {
                    img {
                        max-width: 22px;
                    }
                }
            }
            p {
                display: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .main_banner {
        .carousel-item {
            >img {
                height: 400px;
                object-fit: cover;
                z-index: 0;
                min-height: 490px;
                max-height: 490px;
            }
        }
        iframe,
        video {
            height: 400px;
            object-fit: cover;
            z-index: 0;
            min-height: 400px;
            max-height: 400px;
        }
        .carousel-caption {
            bottom: 40px;
            top: auto;
            h2 {
                font-size: 36px;
                span {
                    font-size: 31px;
                }
            }
            p{
                font-size: 21px;
            }
        }
    }
}

@media (max-width:1199.9px) {
    .main_banner {
        padding-top: 85px;
        flex-direction: column;
        .carousel-caption {
            left: 26px;
        right: 26px;
        max-width: calc(100% - 52px);
        }
    }
}

@media (min-width:768px) and (max-width:1200px) {
    .main_banner .carousel-item>img {
        min-height: 500px;
    }
}